@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body,
#root,
.app,

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
  margin-top: 5px;
}

.content {
  height: auto;
  width: 92%;
  font-family: "Source Sans Pro", sans-serif;
 position: absolute;
  background-color: #ffffff;
  border-radius: 3rem;
  margin-right: 30px;
 
  z-index: 1;
  
  top: -.3rem;
  right: .5rem;
  padding-right: 5rem;
  
}

.app {
  display: flex;
  position: relative;

  justify-content: flex-start;
height: 98vh;
overflow: auto;

}

::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7f4f4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
